<h1>Show Page</h1>
<p>
  <%= @product.name %>
  <br/>
  <%= @product.description %> |
  <%= @product.price_in_cents %>
</p>
<%= link_to "Edit", edit_product_path %> | <%= link_to("Delete", "/products/#{@product.id}", method: :DELETE, data: {confirm: "Are you sure you want to delete #{@product.name}?"})%>
